.comment-list {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
}

.comment {
    background-color: #f5c4e4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.comment strong {
    font-weight: bold;
}

  